###Files and folders specified here will never be tracked.

#Ignore everything in datafolder and subdirectories
/data/**/*
/tmp/**/*

#Ignore byond config folder.
/cfg/**/*

#Ignore compiled files and other files generated during compilation.
*.mdme
*.dmb
*.rsc
*.lk
*.int
*.backup

# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
#*.cab
#*.msi
#*.msm
#*.msp

# Windows shortcuts
*.lnk

# Icon must end with two \r
Icon

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

*.before

#Visual studio
*.vscode/*
!/.vscode/extensions.json
tools/MapAtmosFixer/MapAtmosFixer/obj/*
tools/MapAtmosFixer/MapAtmosFixer/bin/*

#extra map
/_maps/**/backup/
/_maps/templates.dm

# Ignore database config file
/config/dbconfig.txt
